{% extends "base.html" %} 

{% block title %} About {% endblock %}

{% block content %} 

    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"><h3>Developed by Moiz Ahmed</h3></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"><a href="www.github.com/moizahmed97">GitHub</a></div>
            <div class="col-sm"></div>
        </div>

    </div>

{% endblock %}