{% extends "base.html" %}

{% block title %} Route And Weather {% endblock %}

{% block content  %} 


<div class="container">
    <br>
    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h3 class="text-center">The Route is</h3>
        </div>

        <div class="col-sm">
        </div>
    
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h4 class="text-center">Placeholder for the Map</h4>
        </div>

        <div class="col-sm">
        </div>
    
    </div>

    <hr>


    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h3 class="text-center">The Weather is</h3>
        </div>

        <div class="col-sm">
        </div>
    
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h4 class="text-center">Placeholder for Weather</h4>
        </div>

        <div class="col-sm">
        </div>
    
    </div>
</div>

{% endblock %}