{% extends "base.html" %}

{% block title %} Route And Weather {% endblock %}

{% block content  %} 


<div class="container">
    <br>
    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h3 class="text-center">The Route is {{test}}</h3>
        </div>

        <div class="col-sm">
        </div>
    
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h4 class="text-center">Print the ID of what was clicked over here</h4>
        </div>

        <div class="col-sm">
        </div>
    
    </div>


</div>


<script type="text/javascript">

// Get the ID here and print to console 
    
    
    </script>

{% endblock %}