

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content  %} 
<div class="container">

    <br>
    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <h4 class="text-center">Click to get the route                {% for t in test %}
                {{t["id"]}}
                {% endfor %}
            </h4>
        </div>

        <div class="col-sm">
        </div>
    
    </div>

    <br>

    <div class="row">
        
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody> 
               {% for route in data %}
              <tr id="test">
                <th scope="row">{{route["id"]}}</th>
                <td>{{route["From"]}}</td>
                <td>{{route["To"]}}</td>
                <td><button type="button" id="{{route['id']}}" class="btn btn-outline-primary goToRoute">Navigate</button></td>
              </tr>
            {% endfor %}
            </tbody>
          
        </table>
    
    </div>
</div>    

<script type="text/javascript">

$(".goToRoute").click(function() {
    id = this.id
    console.log(id)
    $.ajax({
          url: "http://127.0.0.1:5000/",
          data: JSON.stringify({"id": id}),
          method: 'POST',
          contentType: "application/json",
          success: function() {
            console.log("success");
          }
				});
});


</script>
{% endblock %}

